body{
    background-image: url('./resources/login.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#formLogin{
    padding: 15px;
    border: 1px solid #61ff33;  
    border-radius: 5%;
    background-color: #27a700; 
    float: left;
}

#root{
    margin: 0;
}

#name{
    width: 400px;
    display: block;
}
