.options{
    display: flex;
    justify-content: center;
}

.order,
.filter,
.reset{
    margin: 5px;
}

.order,
.filter{
    margin-top: 1em;
}

.reset > button {
    background-color: #27a700;
    border-color: 5px solid #086300;
    margin: 5px;
    transition: 0.25s;
}

.reset > button:hover{
    background-color: #086300;
    box-shadow: 0 0 10px #27a700;
}
