.profile > div > img{
    height: 300px;
    border-radius: 50%;
    float: left;
    margin-top: 2em;
    margin-left: 20px;
    margin-bottom: 2em;
    border: 2px solid #086300;
}

.allInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.allInfo > h2,
.allInfo > p,
.allInfo > ul{
    margin-left: 50px;
}

.contact{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.allInfo > ul{
    margin-left: 8em;
}

.allInfo > ul > li > a{
    display: flex;
}

.allInfo > ul > li{
    display: flex;
    margin: 5px;
}

p{
    margin: 0;
    text-align: center;
    padding: 2px;
    margin-left: 10px;
}

.icon{
    height: 30px;
}

.profile > div > h2{
    font-size: 2em;
}

/* .profile{
    background-color: #27a700;
    display: inline-block;
    width: auto;
    height: auto;
    padding-right: 35em;
    margin-top: 4em;
    
    
} */

.allInfo > p{
    font-size: 1.1em;
}

.profile{
    background-color: #27a700;
    display: flex;
    margin: 4em 10em 0 10em;
    border: 5px solid #086300;
    box-shadow: 0 0 15px #27a700;
}