/*body{
    background-image: url('../../resources/wallpaper.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/